<div class="container col-md-12 mt-3">
  <div class="col-md-6 offset-md-3">
    
    <form class="mt-5 ">
      <h3 class="text-center">Cadastro de Usuário</h3>

      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome">
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="Senha">
      </div>

      <div class="row col">
          <div class="form-check col-md-6 text-center">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">Usuário</label>
          </div>
          <div class="form-check col-md-6 text-center">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">Administrador</label>
          </div>
      </div>
      <div class="text-center mt-5">
          <button type="submit" class="btn btn-outline-primary bg-dark bg-dark">Cadastrar</button>
      </div>                

    </form>
  </div>
</div>